# Ignore secret env file
.env

# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# Archive folders (too large for git)
part1-python-pipeline/archive/data/

# Node modules
node_modules/

# Large data files
*.rdata
*.RData
*.gz
data/part\ 3/
data/review-Pennsylvania.json.gz
data/*/GL_review_PCW.rdata
data/pennsylvania_user_city_summary.csv

# Keep outputs/figures but ignore data
part1-python-pipeline/outputs/data/
part2-r-analysis/outputs/data/
part3-r-analysis/outputs/data/
